.page__history {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
}
.smart_statistic {
    padding: 0 23px;
    .form {
        display: flex;
        justify-content: space-between;
        background-color: $bg-03;
        padding: 24px 16px;
        >div {
            max-width: 366px;
            
            padding: 8px;
        }
    }
   
    &__title {
        @include headline-4();
        padding-bottom: 16px;
    }
    &__subtitle {
        @include body();
    }
    &__form-title {
        @include body();
    }
    &__form-subtitle {
        @include caption();
        color: $default-icon;
        padding-left: 16px;

    }
}
.months {
    padding: 32px 0 32px 32px;
    display: flex;
    flex-wrap: wrap;
}
.month {
    padding: 16px;
    border-radius: 4px;
    background-color: $bg-03;
    border: 2px solid $bg-03;
    width: 200px;
    margin-bottom: 32px;
    margin-right: 32px;

    &._active {
        border-color: $bg-05;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 16px;
    }
    &__name {
        @include subtitle();
    }
    &__profit {
        @include body();
        text-align: right;

        &_success {
            color: $state_success;
        }
    }
    &__body {
        display: flex;
        align-items: center;
    }
    &__forecast,
    &__success {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;

    }
    &__subtitle {
        @include caption();
        opacity: 0.5;
    }
    &__text {
        @include body();
    }
} 

.months-info{
    padding: 0 32px;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        

        >div {
            display: flex;
            align-items: center
        }
       
    }
    &__select {
        @include body-s();
        display: block;
        margin-left: 32px;

        &_win {
            border-bottom: 4px solid rgba($state_success, 0.25);
        }
        &_lose {
            border-bottom: 4px solid rgba($state_fail, 0.25); 
        }
        &_reject {
            border-bottom: 4px solid rgba($important,0.25); 
        }
    }
    &__main {
        background-color:$bg-03 ;
        border-radius: 4px;
        padding-bottom: 32px;
        padding-right: 16px;
       
        
    }
    &__day-info{
        position: absolute;
        top: 0;
        right: 0;
        
    }
}  

.earnings {
    >div {
        display: flex;
        align-items: center;
    }
    &__text {
        @include body();
        padding-left: 20px;
        padding-right: 20px;
        &_no-p {
            padding: 0;
        }
    }
    &__type {
        @include caption-s();
        padding: 4px 8px;
        margin: 0 16px;
        border-radius: 4px;
        border: 1px solid;
        &_pro {
            border-color: $state_success;
            color: $state_success;
        }
        &_lite {
            border-color: $gold;
            color: $gold;
        }
    }
    &__price {
        @include body-s-strong();
        padding-right: 10px;
        &_plus {
            color: $state_success;
        }
    }
}

.day-history {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 16px;
    }
    
    &__head,
    .earnings {
        display: flex;
    }
    &__number {
        @include headline-2();
        padding-right: 12px;
    }
    &__main {
        padding-left: 50px;
        padding-top: 32px;

        @media (max-width: 1220px) {
            padding-left: 16px;
            padding-top: 16px;
        }
    }
    &__arrow {
        transform: rotate(-90deg);
        transition: all 0.5s;
        width: 10px;
    }
    &__header._active {
        .day-history__arrow {
            transform: rotate(90deg);
        }
    }
    
}