//====================================================================================================
.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &__content {
        width: 100%;
        padding: 32px;
        display: grid;
        grid-template-columns: calc(100% - 352px) 320px;
        grid-template-rows: auto;
        column-gap: 32px;
        row-gap: 32px;
        grid-template-areas: 
            "main sidebar"
            
            "matches matches"
            "ratings ratings"
        ;
    }
    &__news {
        //grid-area: news;
        display: flex;
        flex-direction: column;
        padding-bottom: 32px;
    }
    &__analysts {
        
        padding-bottom: 32px;
    }
    &__matches-tabs {
        grid-area: matches-tabs;
      padding-bottom: 32px;
    }
    &__match-of-the-day {
        grid-area: matches-of-the-day;
        padding-bottom: 32px;
    }
    &__banner {
        grid-area: banner;
        display: flex;
        align-items: center;
        padding-bottom: 32px;
    }
    &__social-link {
        grid-area: social-links;
        padding-bottom: 32px;
    }
    &__top-streams {
        grid-area: top-streams;
       
    }
    &__top-bk {
        grid-area: top-bk;

    }
    &__matches {
        grid-area: matches;
    }
    &__ratings {
        grid-area: ratings;
        
    }
}

//====================================================================================================
