//====================================================================================================
.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &__content {
        width: 100%;
        padding: 32px;
        display: grid;
        grid-template-columns: calc(100% - 352px) 320px;
        grid-template-rows: auto;
        column-gap: 32px;
        row-gap: 32px;
        grid-template-areas: 
            "news topAnalysts"
            "matches-tabs matches-of-the-day"
            "banner social-links"
            "top-streams top-bk"
            "matches matches"
            "ratings ratings"
        ;
    }
    &__news {
        grid-area: news;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__analysts {
        grid-area: topAnalysts;
    }
    &__matches-tabs {
        grid-area: matches-tabs;
    }
    &__match-of-the-day {
        grid-area: matches-of-the-day;
    }
    &__banner {
        grid-area: banner;
        display: flex;
        align-items: center;
    }
    &__social-link {
        grid-area: social-links;
    }
    &__top-streams {
        grid-area: top-streams;
    }
    &__top-bk {
        grid-area: top-bk;
    }
    &__matches {
        grid-area: matches;
    }
    &__ratings {
        grid-area: ratings;
        background-color: orange;
    }
}

//====================================================================================================
