//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

//Адаптивный шрифт
@mixin adaptiv-font($pcSize, $mobSize, $maxSize) {
  $addSize: $pcSize - $mobSize;
  @if $maxSize==1 {
    //Только если меньше контейнера
    font-size: $pcSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      font-size: calc(
        #{$mobSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $maxSize==2 {
    //Только если больше контейнера
    font-size: $pcSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      font-size: calc(
        #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //Всегда
    font-size: calc(
      #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

//Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

@mixin space-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin subtitle() {
  //	font-family: $font_name;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
@mixin headline-1() {
  font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
}
@mixin headline-4() {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
@mixin headline-5() {
  //	font-family: $font_name;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
@mixin body() {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@mixin body-strong() {
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
}
@mixin body-s() {
  //font-family: $font_name;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
@mixin body-s-strong() {
  //	font-family: $font_name;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
@mixin body-xs() {
  //	font-family: $font_name;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
@mixin caption() {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
@mixin button() {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: 0.01em;
  font-feature-settings: "pnum" on, "lnum" on;
}
@mixin element-bg() {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;

  background: linear-gradient(
    180deg,
    rgba(3, 14, 27, 0.6) 0%,
    #041324 0.01%,
    #030e1b 100%
  );

  border: 2px solid $bg-03;
  box-sizing: border-box;
  border-radius: 4px;
}
@mixin text-gradient() {
  background-color: #FF1B2D;
		
		/* Crheate the gradient. */
		background-image: $button-gradient;
		
		/* Set the background size and repeat properties. */
		background-size: 100%;
		background-repeat: repeat;

		/* Use the text as a mask for the background. */
		/* This will show the gradient as a text color rather than element bg. */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;

}