.news-swiper{
    position: relative;

    &__slide {
        position: relative;
        width: 100%;
    }

    &__navigation {
        position: absolute;
        bottom: 40px;
        left: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: calc(100% - 300px);
        width: 100%;
        z-index: 2;

    }
    &__arrow {
        cursor: pointer;
        &__prev {
            padding-right: 16px;
        }
        &__next {
            padding-left: 16px;
            img {
                transform: rotate(180deg);
            }
            
        }
    }
    &__pagination {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            flex-basis: 100%;
            margin: 0 8px;
            display: block;
            height: 2px;
            position: relative;
            background: rgba($default-icon, 0.5);
            border-radius: 0;

        }
        span:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            background-color:red;// $default-icon;
            border-radius: 24px;
         //   transition: width 2500ms cubic-bezier(0.4, 0.0, 0.2, 1);
            animation-duration: 2500ms;
            animation-timing-function: linear;
        }
        .swiper-pagination-bullet-active {
            animation-name: news-slider;
           //width: 100%;
        }
    }
    &__title {
        @include headline-1();
        text-align: left;
        width: 100%;
        display: inline-block;
        position: absolute;
        bottom: 80px;
        left: 0;
        padding: 0 40px;
    }
    &__details {
        @include body-s();
        position: absolute;
        bottom: 40px;
        right: 40px;
       
        display: flex;
        a {
            display: flex;
            align-items: center;
            color: $default-icon;
            padding-left: 20px;

            span {
                padding: 0 5px;
                line-height: 1;
            }

        }

    }
}

@keyframes news-slider {
 0% {
     width: 0%;
 }
 100% {
    width: 100%;
 }
}

.news-small {
    padding-top: 24px;

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        > div {
            width: calc(50% - 8px);
        }
    }  
    &__item {
        padding-top: 16px;
    }

}

.tabs-block {
    &__nav {
        display: flex;
      //  padding-bottom: 16px;
    }
    
    &__item {
        @include body-s();
        padding-right: 32px;
        color: $link;
        opacity: 0.65;
        
        &._active {
            opacity: 1;
        }
        &_small {
            padding-right: 18px;
        }
        &_smallest {
            padding-right: 8px;
        }
    }
     
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 32px 32px 0 32px;

        &__item {
            flex-grow: 2;
            display: flex;
            align-items: center;
            justify-content: center;
          
        }

    }
    &__left {
        cursor: pointer;
        opacity: 0.5;
    }
    &__right {
        cursor: pointer;
        opacity: 0.5;
        img {
          transform: rotate(180deg);
        }
    }
    &__pagination {
        display: flex;
        align-items: center;
        margin-right: 26px;
        

        .swiper-pagination-bullet {
            background-color: $default-icon;
            opacity: 0.5;
            margin-left: 26px;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}

.matches-tabs {
    .tabs-block__nav {
        padding-bottom: 16px;
    }
}

.match-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: linear-gradient(0deg, rgba(3, 14, 27, 0.9), rgba(3, 14, 27, 0.9)), url(../img/matches/desktop.png) no-repeat center ;
    border: 2px solid $gold;
    box-sizing: border-box;
    border-radius: 4px;
    width: 320px;
    height: 100%;
    padding: 16px 18px;

    &__title {
        h2 {
            @include headline-4();
        }
    }
    &__season {
        span {
            @include body-s();
            color: $link;
        }
    }
    &__subtitle {
        @include body-s();
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        span {
            @include overline();
        }
        p {
            @include headline-5();
        }
    }
    &__names {
        display: flex;
        justify-content: center;
        padding-top: 3px;
        @include body-strong();

        h3 {
            margin-bottom: 10px;
        }
        span {
            display: inline-block;
            padding: 6px;
            background-color: $bg-04;
            border-radius: 4px;
        }

    }
    &__name_left {
        text-align: right;
        padding-right: 10px;
    }
    &__name_right {
        text-align: left;
        padding-left: 10px;
    }
    &__button {
       width: 100%;
       display: flex;

        button {
            flex: 1 1 100%;
            
        }
        
    }
}

.gorizontal-banner-block{
    border-radius: 4px;

    img {
        height: 100%;
       // max-height: 110px;
        object-fit: cover;
    }
}

.social-links {
    background: linear-gradient(180deg, rgba(3, 14, 27, 0.6) 0%, #041324 0.01%, #030E1B 100%);
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &__title {
        @include headline-6();
        text-align: center;
        padding-bottom: 8px;
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__subtitle {
        @include body-s();
    }
}


.top-streams {
    display: flex;
    align-items: stretch;

    &__banner {
    //    display: none;
    padding-right: 32px;
        img {
            height: 100%;
            width: 320px;
            object-fit: cover;
        }
    }
    &__streams {
       
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
   

    }
    &__header {
        margin-bottom: 8px;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex: 1 1 auto;
    }
    &__button {
        color: $link;

        img {
            height: 10px;
            vertical-align: middle;
            padding-left: 5px;
            object-fit: cover;
        }

    }
    &__body {
        display: flex;
       flex-wrap: wrap;
       align-items: stretch;
       justify-content: space-between;
       padding-bottom: 0;

       >div {
          width: 48%;
           margin: 32px 0 0;
       }
    }
    &_no-banner{
        .top-streams__banner {
            display: none
        }
        .top-streams__body {
            >div {
               width: 32%
            }
        }
    }
}

.forecast-info {
    @include caption-s();
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: $gold;
    border-radius: 4px;
    margin-left: 10px;

    img {
        margin-right: 6px;
    }
}

.online {
    @include caption-s();
    padding: 4px 8px;
    background-color: $state_fail;
    border-radius: 4px;
    margin-left: 10px;
}

.watch {
    @include caption-s();
    padding: 4px 8px;
    background-color: $bg-04;
    border-radius: 4px;
    margin-left: 10px;
}

