//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
	
	height: 100%;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		height: auto;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
.swiper-container-multirow-column>.swiper-wrapper {
	flex-direction: inherit;
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block,
._team-tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
.button {
	@include button();
	@include element-bg();
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
	background-image: $button-gradient;
	color: $text-white;

	&__border {
		background-image: linear-gradient(180deg, rgba(3, 14, 27, 0.6) 0%, #041324 0.01%, #030E1B 100%);
		position: relative;
		padding: 8px 12px;
	
		&:before {
			content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: -1;
			
			margin: -4px; /* !importanté */
			border-radius: inherit; /* !importanté */
			background: $button-gradient;
		  }
		
	}
	&_text-gradient {
		@include text-gradient();
		background-color: inherit;
		border:none;
	}
	&_simple {
		background-color: inherit;
		background-image: none;
		border:none;
		color: $text-white;
	}
	&_full-width {
		width: 100%
	}
}
.main-title {
	@include headline-1();
}
.main-subtitle {
    @include headline-4();
    &_headline-5 {
        @include headline-5();
    }
}

.title[data-title] {
	//	background-color: red;
	position: relative;
	display: inline-block;
	line-height: 1;
  
	&:hover:after {
	  content: attr(data-title);
	  position: absolute;
	  padding: 4px 8px;
	  left: 0;
	  transform: translate(-50%, 0);
	  bottom: 30px;
	  background: $bg-04;
	  color: #fff;
	  @include body-s();
	  width: 100%;
	  min-width: 145px;
	  display: block;
	  z-index: 100;
	}
	&:hover:before {
	  position: absolute;
	  content: "";
	  bottom: 25px;
	  left: 10px;
	  transform: translate(-50%, 0) rotate(45deg);
	  background-color: $bg-04;
	  width: 14px;
	  height: 14px;
	  z-index: 100;
	}
  
   
  }
  .title_up[data-title] {
	  &:hover:after {
		  bottom: 45px;
		  left: 16px;
	  }
	  &:hover::before {
		  bottom: 40px;
		  left: 16px;
	  }
	}

.tooltip {
	position: relative;

	&__body {
		background-color: $bg-04;
		border-radius: 4px;
		padding: 16px;
		position: absolute;
		transform: translate(-50%, 0);
	    bottom: 40px;
		left: 100px;
		min-width: 200px;
		display: none;

		&:before {
			position: absolute;
			content: "";
			bottom: -8px;
			left: 50%;
			transform: translate(-50%, 0) rotate(45deg);
			background-color: $bg-04;
			width: 14px;
			height: 14px;
			z-index: 100;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		padding-bottom: 8px;
		&:last-child {
			padding-bottom: 0;
		}
		h5 {
			@include caption();
		}
		p {
			@include body-s-strong();
			display: inline-flex;
			span {
				color: $gold;
				font-size: 1.5em;
			}
		}
	}
	&:hover {
		.tooltip__body {
			display: block;
		}
	}
}  

.element {
	height: 100%;

	&_hover-bgcolor {
		&:hover {
			background: rgba(59, 92, 123, 0.15);
			border-color: $bg-04;
			
		  }	
	}
	&_hover-color {
		&:hover {
			h3 {
			  color: $link;
			}
			.element__details {
				a {
					color: $link;
				}
			}
		  }
	}
	&__image {
	
		position: relative;
		overflow: hidden;
		
		.image {
			object-fit: cover;
			height: 100%;
			width: 100%;

		}
		&__important {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background-color: $important;
        }
		&__top-info {
		  position: absolute;
		  top: 16px;
		  right: 16px;
		  display: flex;
		}
		&__bottom-info {
			position: absolute;
			bottom: 16px;
			right: 16px;
			display: flex;
		}
	}
	&__image-small {
		
		margin-right: 16px;
		min-width: 80px;
	
		align-items: stretch;
		position: relative;
		.image {
			height: 100%;
			width: 100%;
			object-fit: contain;
			vertical-align: middle;

		}
	}
	&__info {
		padding-top: 8px ;
		padding-right: 8px;
		h3 {
			@include body-s-strong();
			text-overflow: ellipsis;
			margin-bottom: 8px;
			span {
			  color: $accent;
			}
		  }
		 
		  p {
			@include body-xs();
			display: block;
			
	
			span {
			  color: $accent;
			}
		  }
		  a {
			@include body-s();
			color: $link;
			opacity: 0.65;
			margin-top: 8px;
		  }

		  &_space {
			  padding: 16px;
		  }
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__time {
		color: $default-icon;
		@include body-s();
	}
	&__details {
		@include body-s();

		display: flex;
        a {
            display: flex;
            align-items: center;
            color: $default-icon;
            padding-left: 9px;
			

            span {
                padding: 0 5px;
                line-height: 1;
				color: $default-icon;
            }
			img {
				vertical-align: middle;
			}
        }
	}
	&_horizontal {
		display: flex;
		cursor: pointer;
		align-items: stretch;
		
		box-sizing: border-box;
		border: 2px solid $bg-01;
		border-radius: 4px;
	}
	&_horizontal_small{
		display: flex;
		padding: 8px;
		cursor: pointer;
		align-items: stretch;
		
		box-sizing: border-box;
		border: 2px solid $bg-01;
		border-radius: 4px;
	}
	&_horizontal_padding {
		padding: 16px;
	}
	&_vertical {

		display: block;
		padding: 0;
		border: 2px solid $bg-01;

		>img {
		  width: 100%;
		  height: auto;	
		}
		
	}
	&_small {
		align-items: center;
        padding: 8px;
		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 16px;
		}
		h3 {
			padding: 0;
		}
		.element__info {
			width: calc(100% - 50px);
		}
	}
	&_center {
		
		h3, p {
			text-align: center;
		}
		
	}
	&_bgcolor {
		@include element-bg();
        cursor: pointer;
	}
	


}

.stars_rating {
	position: relative;
	font-size: 19px;
	display: flex;
	align-items: flex-end;

	&:before {
		content: "☆☆☆☆☆";
		display: block;
		color: $default-icon;
	}
	&__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;

		&:before {
			content: "★★★★★";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: $gold;
		}
	}
	&__items {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
	}
	&__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}

	&__value_hide {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
	}
	
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
	padding: 8px;
    background-color: $bg-03;
    cursor: pointer;
    &:hover {
        background-color:$ui-element;
    }
	img {
		vertical-align: middle;
	}
	&_margin {
		margin-right: 8px;
	}
}

.match-prognoze {
	@include body-strong();
	display: inline-block;
            padding: 6px;
            background-color: $bg-04;
            border-radius: 4px;
	
}

.user-details {
	
        color: $default-icon;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
            padding-right: 8px;
			//display: flex;
        }
    
}

.rate {
	@include caption();
	display: flex;
	align-items: center;

	img {
		vertical-align: middle;
		padding-right: 4px;
	}
	
	&_up {
		color: $state_success;
	}
	&_down {
		color: $state_fail;
	}
}

.rate-dots {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__item {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		

		&-green {
			background-color: $state_success;
		}
		&-gray {
			background-color: $bg-05;
		}
		&-red {
			background-color: $state_fail;
		}

	}
}

.match-item {
	border-radius: 4px;
	&__head {
		background: $element-bg-hover;
		padding: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__season {
		span {
            @include body-s();
            color: $link;
        }
	}
	&__matches {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}
	&__teams {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		padding-top: 16px;
		padding-bottom: 12px;
	}
	&__first-team,
	&__second-team  {
		display: flex;
		align-items: center;
		img {
			width: 56px;
			height: 56px;
			object-fit: contain;
		}
	}
	&__time {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
	//	padding: 0 18px;

        span {
            @include overline();
        }
        p {
            @include headline-5();
        }
	}
	&__score {
		@include headline-5();
		display: flex;
		align-items: center;
		justify-content: center;

		&-low {
			color: $state_fail;
			padding: 5px;
		}
		&-high {
			color: $state_success;
			padding: 5px;
		}
	}
	&__names {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	&__first-name,
	&__second-name {
		@include body-s-strong();
		text-align: center;

	}
	&__forecast {
		@include caption();
		background: $element-bg-hover;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 16px;

		span {
			color: $bg-06;
		}
		p {
			color: $link;
		}
	}
	&__body {
		background-color: $bg-03;
		padding: 16px;
		&-red {
			background-color: $highlight-bg;
		}
	}
	&__forecast-detail {
		display: flex;
		justify-content: space-between;
	}
	&__user {
		display: flex;
		align-items: center;
		flex: 0 0 60%;

		&__image {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 5px;
			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
			
		}
	}
	&__name {
		@include body-xs-strong();
		padding-bottom: 5px;
	}
	&__prognoze {
		display: flex;
		flex-direction: column;
		
		p {
			@include caption-s();
			color: $default-icon;
			padding-bottom: 8px;
		}
	}
	&__forecast-type {
		display: flex;
		justify-content: space-between;
		padding: 16px 0;
		&__title {
			@include caption-s();
			color: $default-icon;
			opacity: 0.5;
			padding-bottom: 2px;
		}
		&__value {
			@include body-s-strong();

		}
	}
	&__button {
		width: 100%;
	}

}

.GS-PRO-bet-card {
	.match-item__name {
		color: $state_success;
	}
	.match-item__forecast-type__value_color {
		color: $state_success;
	}
}

.GS-LITE-bet-card {
	.match-item__name {
		color: $gold;
	}
	.match-item__forecast-type__value_color {
		color: $gold;
	}
	.match-item__forecast-type__value_color-second {
		color: $state_success;
	}
}

.USER-bet-card {
	.match-item__forecast-type__value_color {
		color: $state_success;
	}
}

.Ai-bet-card {
	.match-item__forecast-type__value_color {
		color: $state_success;
	}
}
.table  {
	width: 100%;
	border-collapse:separate; 
	border-spacing: 0 4px;
	color: $text-white;

	thead {
		padding-bottom: 4px;
		th {
			color: $default-icon;
		}
	}
	tbody {
		tr {
			position: relative;
		}
		td {
			text-align: center;
			color: $text-white;
		}
		img {
			vertical-align: middle;
		}
		span {
			@include body-s();
		}
		button {
			color: $text-white;
		}
		
	}
	

	&_forecast {
		thead {
			th {
				@include body-s();
			}
		}
		tbody {
			tr:nth-child(odd) {
				background-color: $bg-02;
				
			}
			td {
				padding: 12px;
				
				p {
					@include body-xs();
					display: inline-block;
					width: 100%;
					max-width: 242px;
					margin: 0 auto;
					text-align: left;
					padding: 6px;
				}
				> div {
					display: flex;
					align-items: center;
				}
			}
			.green {
				border-left: 4px solid rgba($state_success, 0.25);
			}
			.orange {
				border-left: 4px solid rgba($important, 0.25);
			}
			.red {
				border-left: 4px solid rgba($state_fail, 0.25);
			}
			.minus {
				color: $default-icon;
			}
			.plus {
				color: $state_success;
			}
			.bet-screenshot {
				position: relative;
				display: inline-block;
				cursor: pointer;
		
				&__screenshot {
					display: none; 
					position: absolute;
					left: -10px;
					top: 18px;
					width: 200px;
					z-index: 3;
					
					img {
						width: 100%;
						object-fit: cover;
					}
				}
				&_active{
					.bet-screenshot__screenshot {
						display: block;
					}
				}
			}
		}

	}
	&_bookmakers {
		thead {
			tr {
				border-collapse: separate; 
				border-spacing: 5px 5px;
			}
			th {
				@include body();
				border-bottom: 2px solid rgba($text-white, 0.1);
			}
			th:last-child {
				width: 200px;
			}
			
		}
		tbody {
			p {
				@include body-strong();
				span {
					color: $gold;
					font-size: 1.5em !important;
				}
			}
			.bonus {
				&__title {
					@include caption-s();
					@include text-gradient();
					text-align: center;
				}
				&__body {
					img {
						vertical-align: middle;
						margin-right: 10px;
					}
					span {
						@include body-strong();
					}
				}
			}
			td:last-child {
				text-align: left;
			}
		}
		&__item {
			background-color: $bg-03 !important;
			border-radius: 4px;
			padding: 16px;
			&:hover {
				background: rgba(59, 92, 123, 0.15);
			}
			>p {
				text-align: center;
			}
			
		}
		&__logo {
			width: 80px;
			margin-left: 16px;
			cursor: pointer;
			ing {
				width: 100%;
				object-fit: contain;
			}
		}
		&__buttons {
			display: flex;
		}
	}
}
.progress {
	border: 1px solid $bg-04;
	justify-content: flex-start;
	border-radius: 4px;
	align-items: center;
	position: relative;
	display: flex;
	height: 8px;
	width: 100%;

	&-value {
		border-radius: 100px;
 		height: 100%;
	    width: 0;
		transition: width .5s linear;
		
	}
	&_gold {
		.progress-value {
			background-color: $gold;

		}
	}
	&_green {
		.progress-value {
			background-color: $state_success;
		}
	}
	&_red {
		.progress-value {
			background-color: $state_fail;
		}
	}
	&_blue {
		.progress-value  {
			background-color: $link;
		}
	}
	
}